button {
    background-color: $color-teciario;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    img {
        width: 50px;
    }

}

.boton-contacto {
    background-color: $color-secundario;
    border: none;
    margin: 10px;
    border-radius: 20px;
    padding: 10px 20px;

}

.botom-blanco {
    background-color: $color-secundario;

    a:link,
    a:visited {
        color: $color-primario;
        text-decoration: none;
    }
}

.botom-negro {
    background-color: $color-primario;
    a{
        color: $color-teciario;
    }

    a:link,
    a:visited {
        text-decoration: none;
    }
}

.botom-rosa {

    a:link,
    a:visited {
        color: $color-primario;
        text-decoration: none;
    }
}

button:hover {
    transform: scale(1.05);
}

.boton-top {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: $color-primario;


}

a{ 
    img:hover{
        transform: scale(1.05);
    }
}