body{
    font-family: 'Montserrat', sans-serif;
    }

    h1{
        font-weight: 900;
        color: $color-primario;
        font-size: 5em ;
    }

    h2{
        font-size: 2em;
        font-weight: 600;
        margin-bottom:10px ;
    }
    
    h3{
        font-size: 1em;
        margin: 50px 0;
    
    }

    .index-h2{ 
        text-align: center;
        padding: 20px;
    }
    .h-blanco{
        color: $color-secundario;
        padding: 20px 0 30px 0;
    }