*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*import basicos*/
@import 'padding';
@import 'paleta';
@import 'text';
@import 'botones';
@import 'backgraund';



/*import-secciones*/
@import 'secciones/header';
@import 'secciones/incio';
@import 'secciones/sobremi';
@import 'secciones/porfolio';
@import 'secciones/skills';
@import 'secciones/contacto';
@import 'secciones/footer';




/*import-secciones-porfolio*/
@import 'secciones/paginasporfolio';


/*resposive*/
@import 'resposive';


img{
    margin: 10px 0;

}

.container{
    padding-top: 20px;
    padding-bottom: 20px;
}