.porfolio-img-logo {
    width: 500px;

}

.inicio-porfolio{
    h2{
        font-weight: 700;
        
    }
    h3{
        font-weight: 600;
    
    }
}

.columna-texto-porfolio {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*nurvo*/

.frase-final-porfolio {
    text-align: center;
    padding: 50px;

    a {
        img:hover {
            transform: scale(1.05);
            text-align: center;

        }

        img {
            height: 30px;
        }
    }

}

.rompiendo-moldes {
    background-color: #1e1f3d;
    color: $color-secundario
}


.desechando-habitos {
    background-color: #E6E6E6;
    color: $color-primario;
}

.mindHunter,
.el-laberinto {
    background-color: $color-primario;
    color: $color-secundario;
}



.columan-imagenes-porfolio {
    display: flex;
    justify-content: center;

}

a {
    img {
        height: 50px;
    }
}




.cierra-de-porfolio {
    background-color: $color-primario;
    text-align: center;
    padding: 50px 0 0 0;
}

.h-blanco,
.p-blanco {
    color: $color-secundario;

}

.tarjetas-rosas {
    background-color: $color-teciario;
    padding: 30px 40px;
}

.tarjetas-blancas {
    background-color: $color-secundario;
    padding: 30px 40px;

}

.image-posters {
    margin: 0;
    padding: 0;
    width: 100%;
}

.imagenes-tarjetas{ 
    margin: 0;
}

¡
